<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='line.css') }}">
    <script src="{{ url_for('static', filename='modules/mark.min.js') }}"></script>
    <script src="{{ url_for('static', filename='line.js') }}"></script>
    <title>Scansion</title>
</head>

<body>
    <div id="line-text">Here is some line text let's see if you really wrap</div>
    <div id="wrapper">
        <div id="letter-info">
            <p>Onset: </p>
            <p>Nucleus: </p>
            <p>Coda: </p>
            <p>Consonant(s) following: </p>
        </div>
        <div id="categories">
            <p id="natural-length">Natural length:</p>
            <p id="positional-length">Positional length:</p>
            <p id="other-phenomena">Other phenomena:</p>
        </div>
        <div id="attributes">
            <span id="long"><img src="{{ url_for('static', filename='images/long.png') }}"><p>V</p></span>
            <span id="short"><img src="{{ url_for('static', filename='images/short.png') }}"><p>V</p></span>
            <span id="anceps"><img src="{{ url_for('static', filename='images/anceps.png') }}"><p>V</p></span>
            <span id="lengthening"><img src="{{ url_for('static', filename='images/long.png') }}"><p>VCC</p></span>
            <span id="muta-cum-liquida"><img src="{{ url_for('static', filename='images/anceps.png') }}"><p>Vml</p></span>
            <span id="brevis-in-longo">
                <em>
                    <img src="{{ url_for('static', filename='images/long.png') }}">
                    <img src="{{ url_for('static', filename='images/long.png') }}">
                </em>
                <p>-VV</p>
            </span>
            <span id="correption">
                <img id="correption-short" src="{{ url_for('static', filename='images/short.png') }}">
                <img id="correption-cross" src="{{ url_for('static', filename='images/cross_long.png') }}">
                <p>V V</p>
            </span>
            <span id="synchisis"><img src="{{ url_for('static', filename='images/tie.png') }}"><p>V V</p></span>
            <span id="diaeresis"><p>V̈</p></span>
        </div>
        <div id="description">Positional lengthening: A vowel when followed by a consonant cluster or a compound ('ζ', 'ξ' and 'ψ') is lengthened. A consonant of 'λ','μ','ν','ρ','δ' or 'σ' can sometimes act duplicated, also lengthening.</div>
    </div>
</body>