:root {
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --dark_grey: rgb(218,220,223);
    --light_grey: rgb(242,243,245);
    --dark_green: rgb(147,231,163);
    --light_green: rgb(205,244,213);
    --purple: rgb(226,166,242);
    --light_blue: rgb(180,203,240);
    --dark_blue: rgb(92,142,222);
    --darker_blue: rgb(39,98,192);
    --light_orange: rgb(255,180,128);
    --dark_orange: rgb(230,94,0);
    --light_red: rgb(255,116,108);
}

@font-face {
    font-family: GentiumPlus;
    src: url('fonts/GentiumPlus-Regular.ttf');
}

body {
    font-family: "GentiumPlus";
    font-size: 3rem;
    margin: 0;
}

#header {
    position: sticky;
    top: 0;
    background-color: var(--light_grey);
    left: 0;
    right: 0;
    height: 5rem;
    margin-bottom: -2%;
    display: flex;
    align-items: center;
    #go-to-book-form {
        display: flex;
        align-items: center;
        #go-to-book-text {
            margin: 0;
            margin-left: 5vw;
        }
        #go-to-book {
            height: 3rem;
            font-family: inherit;
            font-size: inherit;
            margin: 0;
            margin-left: 1vw;
            background-color: var(--dark_grey);
            border: 0;
            width: 4rem;
        }
    }
    #go-to-line-text {
        margin: 0;
        margin-left: 5vw;
    }
    #go-to-line {
        height: 3rem;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        margin-left: 1vw;
        background-color: var(--dark_grey);
        border: 0;
        width: 6rem;
    }
    #show-all-text {
        margin: 0;
        margin-left: 5vw;
    }
    #show-all {
        height: 3rem;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
        margin-left: 1vw;
        width: 4rem;
    }
}

.line {
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    align-items: center;
    margin-bottom: -5%;

    .line-num {
        color: var(--dark_grey);
        font-size: 2.5rem;
    }

    .line-text {
        color: var(--black);
        font-size: 3rem;
    }
}